### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [103]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

#Print Header
school_data_complete.head()
#school_data.head()
#student_data.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [104]:
# Count Unique School Names
total_schools = school_data_complete['school_name'].nunique()
# Print total_schools
#total_schools

# Count Total Students
total_students = school_data_complete['student_name'].count()
# Print total_students
#total_students

# Sum Budget Column
total_budget = school_data['budget'].sum()
# Print total budget
total_budget

# Average math score
average_math_score = school_data_complete['math_score'].mean()
# Average math score check
#average_math_score

# Average reading score
average_reading_score = school_data_complete['reading_score'].mean()
# Average reading score check
#average_reading_score

#Calculate the percentage of students with a passing math score (70 or greater)
passing_math = school_data_complete.loc[(school_data_complete['math_score'])>=70]
count_passing_math = passing_math['math_score'].count()
#count_passing_math
percent_passing_math = (count_passing_math / total_students)*100
#percent_passing_math

#Calculate the percentage of students with a passing reading score (70 or greater)
passing_reading = school_data_complete.loc[(school_data_complete['reading_score'])>=70]
count_passing_reading = passing_reading['reading_score'].count()
percent_passing_reading = (count_passing_reading / total_students)*100
#percent_passing_reading

#Calculate the percentage of students who passed math and reading (% Overall Passing)
overall_passing = school_data_complete.loc[(school_data_complete['math_score']>=70) & (school_data_complete['reading_score']>=70)]
overall_passing
overall_passing_count = overall_passing['student_name'].count()
#overall_passing_count
percent_overall_passing = (overall_passing_count / total_students) * 100
#percent_overall_passing

In [105]:
district_summary = pd.DataFrame({'Total Schools' : [total_schools],
                                        'Total Students' : [total_students],
                                        'Total Budget' : [total_budget],
                                        'Average Math Score' : [average_math_score],
                                        'Average Reading Score' : [average_reading_score],
                                        '% Passing Math' : [percent_passing_math],
                                        '% Passing Reading' : [percent_passing_reading],
                                        '% Overall Passing' : [percent_overall_passing]
                                       })

district_summary['Total Budget'] = district_summary['Total Budget'].map('${:.2f}'.format)
district_summary['Average Math Score'] = district_summary['Average Math Score'].map('{:.2f}'.format)
district_summary['Average Reading Score'] = district_summary['Average Reading Score'].map('{:.2f}'.format)
district_summary['% Passing Math'] = district_summary['% Passing Math'].map('{:.2f}%'.format)
district_summary['% Passing Reading'] = district_summary['% Passing Reading'].map('{:.2f}%'.format)
district_summary['% Overall Passing'] = district_summary['% Overall Passing'].map('{:.2f}%'.format)
district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,$24649428.00,78.99,81.88,74.98%,85.81%,65.17%

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [115]:
# group schools for calculations
grouped_schools = school_data_complete.groupby(['school_name'])

#school name 
school_name = grouped_schools['school_name']

#school type
school_type = grouped_schools['type'].first()


#total students per school
total_students_school = grouped_schools.size()


#Total School Budget
school_budget = grouped_schools['budget'].first()


#Per Student Budget
per_student_budget = school_budget / total_students_school


#Average Math Score
school_avg_math = grouped_schools['math_score'].mean()


#Average Reading Score
school_avg_read = grouped_schools['reading_score'].mean()

# % passing math
school_passing_math = school_data_complete[school_data_complete['math_score']>=70].groupby(['school_name']).size()
passing_math_percent = (school_passing_math / total_students_school) * 100
#passing_math_percent

# % passing reading
school_passing_read = school_data_complete[school_data_complete['reading_score']>=70].groupby(['school_name']).size()
passing_read_percent = (school_passing_read / total_students_school) * 100
#passing_read_percent





# overall passing
school_overall_pass = school_data_complete.loc[school_data_complete['math_score']>=70].groupby(['school_name']).size() & school_data_complete.loc[school_data_complete['reading_score']>=70].groupby(['school_name']).size() 
#school_overall_pass

schools_overall_pass_percent = (school_overall_pass /  total_students_school)*100
#schools_overall_pass_percent

school_summary = {'School Type' : [school_type],
                    'Total Students' : [total_students_school],
                    'Total School Budget' : [school_budget],
                    'Per Student Budget' : [per_student_budget],
                     'Average Math Score' : [school_avg_math],
                     'Average Reading Score' : [school_avg_read],
                     '% Passing Math' : [passing_math_percent],
                     '% Passing Reading' : [passing_read_percent],
                     '% Overall Passing' : [schools_overall_pass_percent]}




#convert to data frame

school_summary_df = pd.DataFrame(school_summary)
school_summary_df.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,school_name Bailey High School District ...,school_name Bailey High School 4976 Cabr...,school_name Bailey High School 3124928 C...,school_name Bailey High School 628.0 Cab...,school_name Bailey High School 77.048432...,school_name Bailey High School 81.033963...,school_name Bailey High School 66.680064...,school_name Bailey High School 81.933280...,school_name Bailey High School 66.318328...

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

## Reading Score by Grade

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

## Scores by School Size

* Perform the same operations as above, based on school size.

## Scores by School Type

* Perform the same operations as above, based on school type